.mynavbar{
    background-color: #2C666E;
}

.mybutton{

   
    margin-right: 100px;

}

.miboton{

    background-color: #07393C;
    border-radius: 10px;
    color: white;
    border: none;
}

.miboton:hover{

    background-color: #F0EDEE ;
    color: #0A090C;
    
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .container{
    margin-top: 10px;
   
  }

  .usuario{

    border: 2px solid gray;
    border-radius: 25px;
    margin: 15px 300px;
    background-color: rgb(235, 235, 235);
    
  }
  .izq{

   
    height: 200px;
    width: 30%;
    
  }
  .der{
  
    height: 200px;
    width: 70%;
  }

 

  #imagenusuario{

    width : 100px;
  }

  .boton1{
    background-color: #07393C;
    border-radius: 10px;
    color: white;
    border: none;
    margin-right: 25px;

  }

  .boton1:hover{
    background-color: #F0EDEE ;
    color: #0A090C;
  }
  .boton2{
    
    border-radius: 10px;
    
    border: none;
    margin-right: 25px;
    
}